<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
	
	<h1>Add Employee</h1> <br>
	
	<nav>
		<a href="/employee/index">Home</a>
			        <a href="/employee/updateEmployee">Update</a>
								<a href="/employee/deleteEmployee">Delete</a>
	</nav><br>
	
	
	<form action="/employee/add" method="post">
		<div>
			<label>Enter Id</label>
			<input type="text" name="EmpId">
		</div>
		
		<div>
			<label>Enter name</label>
			<input type="text" name="name">
		</div>
		
		<div>
			<label>Enter email</label>
			<input type="text" name="email">
		</div>
		
		<div>
			<label>Enter phone number</label>
			<input type="text" name="phoneNo">
		</div>
		
		<div>
			<label>Enter Age</label>
			<input type="text" name="age">
		</div>
		
		<div>
			<label>Enter Role</label>
			<input type="text" name="empRole">
		</div>
		
		<div>
			<label>Enter salary</label>
			<input type="text" name="salary">
		</div>
		
		<div>
			<label>Enter location</label>
			<input type="text" name="location">
		</div>
		
        <div>
			  <button type="submit">Submit</button>
		</div>
		
	</form>
	
</body>
</html>